<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/971c71e558f4d758be7c1282/w/a52d355fced062b7019a3a28/e/242e269d7b3e3af20cba21dc -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="cora_gripper">

    <!-- Gripper -->
    <link name="gripper_body">
        <visual>
        <origin xyz="0 -1.17217 -0.059" rpy="-1.5708 -1.570793 0" />
        <geometry>
            <mesh filename="meshes/gripper_body_visual.dae" />
        </geometry>
        <material name="gripper_body_parts_material" />
        </visual>
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="meshes/gripper_body_collision.stl" />
        </geometry>
        </collision>
        <inertial>
        <mass value="0.044" />
        <inertia ixx="0.00004" ixy="0" ixz="0" iyy="0.000062" iyz="0.000001" izz="0.000075" />
        </inertial>
    </link>
    <link name="Gripper">
        <inertial>
        <mass value="0" />
        <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
        </inertial>
    </link>
    <link name="Camera">
        <inertial>
        <mass value="0" />
        <inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001" />
        </inertial>
    </link>
    <link name="gripper_fingers">
        <visual>
        <origin xyz="1.17667 0.0095 0.07" rpy="-1.5708 0 1.5708" />
        <geometry>
            <mesh filename="meshes/gripper_fingers_visual.dae" />
        </geometry>
        <material name="gripper_fingers_parts_material" />
        </visual>
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="meshes/gripper_fingers_collision.stl" />
        </geometry>
        </collision>
        <inertial>
        <mass value="0.05" />
        <inertia ixx="0.000025" ixy="0.000002" ixz="0.000002" iyy="0.000016" iyz="-0.000001" izz="0.000018" />
        </inertial>
    </link>
    <link name="gripper_fingers_2">
        <visual>
        <origin xyz="-1.16767 0.0095 0.07" rpy="1.5708 0 1.5708" />
        <geometry>
            <mesh filename="meshes/gripper_fingers_2_visual.dae" />
        </geometry>
        <material name="gripper_fingers_2_parts_material" />
        </visual>
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <mesh filename="meshes/gripper_fingers_2_collision.stl" />
        </geometry>
        </collision>
        <inertial>
        <mass value="0.05" />
        <inertia ixx="0.000025" ixy="0.000002" ixz="0.000002" iyy="0.000016" iyz="-0.000001" izz="0.000018" />
        </inertial>
    </link>

    <!-- Gripper -->
    <joint name="GripperFix" type="fixed">
        <origin xyz="0 0 -0.024" rpy="0 0 1.5708" />
        <parent link="endeffector" />
        <child link="gripper_body" />
    </joint>

    <joint name="Gripper_frame" type="fixed">
        <origin xyz="0 0 -0.112" rpy="-3.14159 0 0" />
        <parent link="gripper_body" />
        <child link="Gripper" />
    </joint>

    <joint name="Camera_frame" type="fixed">
        <origin xyz="0.016614 0.0515 -0.046096" rpy="0.000003 3.141593 -0.000003" />
        <parent link="gripper_body" />
        <child link="Camera" />
    </joint>
    
    <joint name="Finger1" type="prismatic">
        <origin xyz="0.07 0.0045 -0.0685" rpy="1.5708 0 -1.5708" />
        <parent link="gripper_body" />
        <child link="gripper_fingers" />
        <axis xyz="0 0 1" />
        <limit effort="10" velocity="10" lower="0" upper="0.0385" />
    </joint>
    <joint name="Finger2" type="prismatic">
        <origin xyz="-0.07 -0.0045 -0.0685" rpy="1.5708 0 1.5708" />
        <parent link="gripper_body" />
        <child link="gripper_fingers_2" />
        <axis xyz="0 0 1" />
        <limit effort="10" velocity="10" lower="0" upper="0.0385" />
        <mimic joint="Finger1" />
    </joint>

    <!-- Sensors -->
    <gazebo reference="Camera">
        <sensor name="gripper_body_sensor" type="camera">
        <always_on>true</always_on>
        <update_rate>30</update_rate>
        <visualize>false</visualize>
        <topic>/gripper_cam</topic>
        <pose>0.016614 -0.0515 -0.046096 0.000003 -3.141593 -0.000003</pose>
        <camera>
            <horizontal_fov>0.959931</horizontal_fov>
            <image>
            <width>1280</width>
            <height>720</height>
            <format>R8G8B8</format>
            </image>
            <clip>
            <near>0.1</near>
            <far>100</far>
            </clip>
            <noise>
            <type>gaussian</type>
            </noise>
        </camera>
        </sensor>
    </gazebo>
    
    </xacro:macro>
</robot>